<div class="text-subtitle white">How we curate our boxes</div><div class="text-body white">Details about the people who curate and select the products. Big focus on credentials, experience, considerations, favourite types of food and more. This can extend to up to four lines, but should be fairly focused.</div><div class="global-padding"></div><div class="container-curation-item left"><div class="div-block-61"><div class="div-block-63"><div class="text-subtitle white">
{{ section.settings.text_title }}
</div>
<div class="text-secondary seafoam">
{{ section.settings.text_subtitle }}
</div>
</div><div class="div-block-62"></div><div><div class="text-body white">
{{ section.settings.text_description }}
</div>
</div></div><div class="image-curation-item"><div>Curation image will go here</div></div></div><div class="container-curation-item right"><div class="image-curation-item"><div>Curation image will go here</div></div><div class="div-block-61"><div class="div-block-63"><div class="text-subtitle white">
{{ section.settings.text_title }}
</div>
<div class="text-secondary seafoam">
{{ section.settings.text_subtitle }}
</div>
</div><div class="div-block-62"></div><div><div class="text-body white">
{{ section.settings.text_description }}
</div>
</div></div></div><div class="container-curation-item left"><div class="div-block-61"><div class="div-block-63"><div class="text-subtitle white">
{{ section.settings.text_title }}
</div>
<div class="text-secondary seafoam">
{{ section.settings.text_subtitle }}
</div>
</div><div class="div-block-62"></div><div><div class="text-body white">
{{ section.settings.text_description }}
</div>
</div></div><div class="image-curation-item"><div>Curation image will go here</div></div></div><div class="container-curation-item right"><div class="image-curation-item"><div>Curation image will go here</div></div><div class="div-block-61"><div class="div-block-63"><div class="text-subtitle white">
{{ section.settings.text_title }}
</div>
<div class="text-secondary seafoam">
{{ section.settings.text_subtitle }}
</div>
</div><div class="div-block-62"></div><div><div class="text-body white">
{{ section.settings.text_description }}
</div>
</div></div></div> {% schema %} {"tag":"div","name":"Curation Section","class":"div-block-59","settings":[{"id":"text_title","type":"text","label":"Title","default":"Stage 1"},{"id":"text_subtitle","type":"text","label":"Subtitle","default":"SOURCING &amp; CURATION"},{"id":"text_description","type":"text","label":"Description","default":"Details about the people who curate and select the products. Big focus on credentials, experience, considerations, favourite types of food and more. This can extend to up to four lines, but should be fairly focused."}],"presets":[{"name":"Curation Section","category":"Liquify","blocks":[]}]} {% endschema %}