<div class="div-block-42"><div class="container-footer-logo"><img src="{{ section.settings.image_braw_box_logo | img_url: 'master' }}" width="537" alt="{{ section.settings.image_braw_box_logo.alt }}" sizes="(max-width: 767px) 100vw, 537px" loading="lazy">
</div><div class="div-block-36"><a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">Home</div> </a>
<a href="{{ section.settings.url_link_2 }}" class="link-block-3 w-inline-block"> <div class="text-body" href="{{ section.settings.url_link }}"> <div class="text-body" href="{{ section.settings.url_link }}">Our Range</div> </div> </a>
<a href="{{ section.settings.url_link_3 }}" class="link-block-3 w-inline-block"> <div class="text-body" href="{{ section.settings.url_link }}"> <div class="text-body" href="{{ section.settings.url_link }}">Most Loved</div> </div> </a>
<a href="{{ section.settings.url_link_4 }}" class="link-block-3 w-inline-block"> <div class="text-body" href="{{ section.settings.url_link }}"> <div class="text-body" href="{{ section.settings.url_link }}">Producers</div> </div> </a>
<a href="{{ section.settings.url_link_5 }}" class="link-block-3 w-inline-block"> <div class="text-body" href="{{ section.settings.url_link }}"> <div class="text-body" href="{{ section.settings.url_link }}">Our Story</div> </div> </a>
<a href="{{ section.settings.url_link_6 }}" class="link-block-3 w-inline-block"> <div class="text-body">Account</div> </a>
</div><div class="div-block-37"></div><div class="div-block-36"><a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">Returns Policy</div> </a>
<a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">Terms of Service</div> </a>
<a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">Privacy Policy</div> </a>
<a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">Legal</div> </a>
<a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">Customer Support</div> </a>
<a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">FAQ</div> </a>
<a href="{{ section.settings.url_link }}" class="link-block-3 w-inline-block"> <div class="text-body">Contact</div> </a>
</div><div class="div-block-41"><div class="text-body">
{{ section.settings.text_copyright_text }}
</div>
</div></div> {% schema %} {"tag":"div","name":"Footer 2","class":"global-footer","settings":[{"id":"image_braw_box_logo","type":"image_picker","label":"Braw Box Logo"},{"id":"url_link","type":"url","label":"Link"},{"id":"url_link_2","type":"url","label":"Link 2"},{"id":"url_link_3","type":"url","label":"Link 3"},{"id":"url_link_4","type":"url","label":"Link 4"},{"id":"url_link_5","type":"url","label":"Link 5"},{"id":"url_link_6","type":"url","label":"Link 6"},{"id":"text_copyright_text","type":"text","label":"Copyright Text","default":"\u201cBraw Box\u201d is a registered trademark of Braw Box Limited. Copyright Braw Box 2025-26. All rights reserved. Individual third-party product names, logos and packaging are the registered trademarks of their respective owners. Used under license with permission from the original copyright holders."}],"presets":[{"name":"Footer 2","category":"Liquify","blocks":[]}]} {% endschema %}