<div class="container-keyfeatures"><div class="container-feature"><img class="div-block-11" src="{{ section.settings.image_image_1 | img_url: 'master' }}" alt="{{ section.settings.image_image_1.alt }}">
<div class="div-block-12"><div class="text-subtitle white">
{{ section.settings.text_title }}
</div>
<div class="text-body white">
{{ section.settings.text_text }}
</div>
</div></div><div class="container-feature"><img class="div-block-11" src="{{ section.settings.image_image_2 | img_url: 'master' }}" alt="{{ section.settings.image_image_2.alt }}">
<div class="div-block-12"><div class="text-subtitle white">
{{ section.settings.text_second_title }}
</div>
<div class="text-body white">
{{ section.settings.text_second_paragraph }}
</div>
</div></div><div class="container-feature"><img class="div-block-11" src="{{ section.settings.image_image_3 | img_url: 'master' }}" alt="{{ section.settings.image_image_3.alt }}">
<div class="div-block-12"><div class="text-subtitle white">
{{ section.settings.text_third_title }}
</div>
<div class="text-body white">
{{ section.settings.text_third_paragraph }}
</div>
</div></div></div> {% schema %} {"tag":"div","name":"Key Features","class":"section_keyfeatures","settings":[{"id":"image_image_1","type":"image_picker","label":"Image 1"},{"id":"text_title","type":"text","label":"Title","default":"A taste of home"},{"id":"text_text","type":"text","label":"Text","default":"Bringing the warmth of Scotland to your doorstep, our carefully curated gifts capture the essence of home. Whether you\u2019re reminiscing about the rolling Highlands, the rich aroma of fresh-baked shortbread, or the comfort of a well-brewed cup of tea, each thoughtfully selected product offers a true taste of Scotland."},{"id":"image_image_2","type":"image_picker","label":"Image 2"},{"id":"text_second_title","type":"text","label":"Second Title","default":"Highest-quality ingredients"},{"id":"text_second_paragraph","type":"text","label":"Second Paragraph","default":"Authenticity begins with quality. That\u2019s why we source only the finest ingredients, ensuring every product meets the highest standards of taste and craftsmanship. From hand-churned butter in our traditional biscuits to the purest Highland honey, each element is chosen with care to deliver a truly exceptional experience."},{"id":"image_image_3","type":"image_picker","label":"Image 3"},{"id":"text_third_title","type":"text","label":"Third Title","default":"Local Producers"},{"id":"text_third_paragraph","type":"text","label":"Third Paragraph","default":"We take pride in supporting Scotland\u2019s talented artisans and small businesses. Every gift is a celebration of local heritage, crafted by skilled producers who share our passion for quality and tradition. You\u2019re not only enjoying the best of Scotland but also sustaining the communities that make it so special."}],"presets":[{"name":"Key Features","category":"Liquify","blocks":[]}]} {% endschema %}